 <!DOCTYPE html>
<html lang="de-CH">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Pacifico|Rubik" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<meta name="Author" content="台大資管一 顧寬証 Ruby Ku">
	<meta name="copyright" content="Treasure Hunter 2022">
	<meta name="keywords" content="台大, 資管, 工海, 物治">
	<meta name="description" content="國立臺灣大學 資管 x 工海 x 物治 三系聯合迎新宿營 Treasure Hunter 2022 8/21-8/23">
	<link rel="icon" type="image/x-icon" href="../static/images/logo2.jpeg">
	<title>Treasure Hunter 2022</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Manrope:wght@600&family=Poppins&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Manrope:wght@600;800&family=Poppins&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Modern+Antiqua&family=Noto+Serif+TC&display=swap" rel="stylesheet">
</head>
<body>
<div id="loading">
	<h1 style="
		margin: 0;
		font-size: 8rem;
		user-select: none;
		margin-top: 40vh;
		margin-bottom: 0vh;
		color: #768CB1 !important;
	">
	<p id="emo">
		☠️
	</p>
</h1>
<h1 style="
		margin-bottom: 1rem;
		margin-top: 2vh;
		font-family: 'Quicksand', sans-serif;
		font-size: 1.2rem;
		color: #768CB1 !important;
	">
		National Taiwan University
		<br>
		IM x ESOS x PT
		<br>
		B10 x B11
	</h1>
</div>
<a name="top"></a>
<a href="#top"> <div class="arrow_image">⬆️</div></a>
<div id="change_class" class="flex_container section menu_section" style="display: none;">
	<div class="flex_item branding"><p>☠️</p></div>
	<div class="flex_item menu_item dropdown">
		<p style="color: #768CB1;">選單</p>
		<div class="dropdown-content">
			<div class="menu_item menu_item_inside"><a class="menu-text" href="#top"><p>首頁</p></a></div>
			<a href=""><div class="menu_item menu_item_inside"><a class="menu-text" href="#location"><p>地點</p></a></div>
			<a href=""><div class="menu_item menu_item_inside"><a class="menu-text" href="#event"><p>活動</p></a></div>
			<a href=""><div class="menu_item menu_item_inside"><a class="menu-text" href="#team"><p>團隊</p></a></div>
		</div>
	</div>
	<div class="flex_item menu_item menu_item_outside"><a class="menu-text" href="#top"><p>首頁</p></a></div>
	<div class="flex_item menu_item menu_item_outside"><a class="menu-text" href="#location"><p>地點</p></a></div></a>
	<div class="flex_item menu_item menu_item_outside"><a class="menu-text" href="#event"><p>活動</p></a></div></a>
	<div class="flex_item menu_item menu_item_outside"><a class="menu-text" href="#team"><p>團隊</p></a></div>
</div>

<div class="section page header_section">
	<a name="top"></a>
	<div class="section_container header_section_container flex_container flex_header_container">
		<div class="text header_text" style="
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		">
			<h1 style="
				font-family: 'Rubik Moonrocks', cursive;
				margin-bottom: 0;
				color: white;
				padding-top: 7rem;
				user-select: none;
			">
				Treasure Hunter
			</h1>
			<div style="margin-bottom: 2rem;"> 
				<p id="cd1" style="
					display: inline; 
					position: absolute; 
					margin-left: -1.3rem; 
					margin-top: -.07rem;
					user-select: none;
				">
					⏳
				</p>
				<span id="timer" style="
					font-family: 'Quicksand', sans-serif;
					color: #768CB1;
					display: inline;
					user-select: none;
				">
				</span>
			</div>
			<h1 id="emoji" style="
				margin: 0;
				font-size: 8rem;
				user-select: none;
			"
				class="button button-effect"
			>
				⚔️
			</h1>
			</div>
			<div class="flex_item">
				<h2 class="header_quote" style="
				font-family: 'Roboto', sans-serif;
				font-size: xx-large;
				color: #768CB1;
			">
				<div class="tags">
					<a style="cursor: pointer;" data-modal-target="#ntu">
						<div class="feature flex_feature_item tag">
							🇹🇼 NTU
						</div>
					</a>
					<div class="modal" id="ntu">
						<div class="modal-header">
							<div class="title">🇹🇼 NTU</div>
							<button data-close-button class="close-button">⚔️</button>
						</div>
						<div class="modal-body">
							<div class="center">
								<div class="pic" style="
									background-image: url('https://storage.googleapis.com/cw-com-tw/article/201805/article-5aee98be02bb0.jpg');
									height: 16rem;
									width: 24rem;
									margin-bottom: 1rem;
								"></div>
							</div>
							國立台灣大學 National Taiwan University (NTU)
							<br>
							期待進入的你未來校園嗎？快來迎新宿營認識未來同學吧！
						</div>
					</div>

					

					<a style="cursor: pointer;" data-modal-target="#im">
						<div class="feature flex_feature_item tag">
							💻 IM
						</div>
					</a>
					<div class="modal" id="im">
						<div class="modal-header">
							<div class="title">💻 IM</div>
							<button data-close-button class="close-button">⚔️</button>
						</div>
						<div class="modal-body">
							<div class="center">
								<div class="pic" style="
									background-image: url('https://scontent-tpe1-1.xx.fbcdn.net/v/t1.6435-9/126115538_2557714727708153_1002905802197455378_n.png?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=PUXX0rmTWgYAX-2GJbQ&tn=m0Rhfzvovcyn3iyr&_nc_ht=scontent-tpe1-1.xx&oh=00_AT9h2cPzRjeu2Ppil88xK5JWAbASMkOh1qZN2JpULVl5VA&oe=62EE5C74');
									height: 16rem;
									width: 16rem;
									margin-bottom: 1rem;
								"></div>
							</div>
							資訊管理學系 
							<br>
							Information Management (IM)
						</div>
					</div>

					<a style="cursor: pointer;" data-modal-target="#esoe">
						<div class="feature flex_feature_item tag">
							🛥 ESOE
						</div>
					</a>
					<div class="modal" id="esoe">
						<div class="modal-header">
							<div class="title">🛥 ESOE</div>
							<button data-close-button class="close-button">⚔️</button>
						</div>
						<div class="modal-body">
							<div class="center">
								<div class="pic" style="
									background-image: url('https://scontent-tpe1-1.xx.fbcdn.net/v/t1.6435-9/78537118_111799893640515_2406805093203574784_n.png?_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=0CuJ9zybc4EAX96w5Tc&_nc_ht=scontent-tpe1-1.xx&oh=00_AT-ZPy7fFM4LbtLWtnhOXQJwJB_CP4O4Qcz3sRrDms-QaQ&oe=62ED9A75');
									height: 16rem;
									width: 16rem;
									margin-bottom: 1rem;
								"></div>
							</div>
							工程科學及海洋工程學系 
							<br>
							Enigeering Science and Ocean Engineering (ESOE)
						</div>
					</div>

					<a style="cursor: pointer;" data-modal-target="#pt">
						<div class="feature flex_feature_item tag">
							🩹 PT
						</div>
					</a>
					<div class="modal" id="pt">
						<div class="modal-header">
							<div class="title">🩹 PT</div>
							<button data-close-button class="close-button">⚔️</button>
						</div>
						<div class="modal-body">
							<div class="center">
								<div class="pic" style="
									background-image: url('https://scontent-tpe1-1.xx.fbcdn.net/v/t31.18172-8/14305476_498381413698336_2921070162087498128_o.jpg?_nc_cat=106&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=uydEAiepfPAAX-KGLx-&_nc_ht=scontent-tpe1-1.xx&oh=00_AT9BfikA-kmALdRzwAkEXWdAkoX6tat6chL870iPkheU1A&oe=62EE372E');
									height: 16rem;
									width: 16rem;
									margin-bottom: 1rem;
								"></div>
							</div>
							物理治療學系 
							<br>
							Physical Therapy (PT)
						</div>
					</div>

					<a style="cursor: pointer;" data-modal-target="#freshman">
						<div class="feature flex_feature_item tag">
							🙈 Freshman
						</div>
					</a>
					<div class="modal" id="freshman">
						<div class="modal-header">
							<div class="title">🙈 Freshman</div>
							<button data-close-button class="close-button">⚔️</button>
						</div>
						<div class="modal-body">
							<div class="center">
								<div class="pic" style="
									background-image: url('../static/images/logo2.jpeg');
									height: 16rem;
									width: 16rem;
									margin-bottom: 1rem;
								"></div>
							</div>
							台大資管x工海x物治 三系聯合迎新宿營
							<br>
							Treasure Hunter 2022
							<br>
							B10 x B11
						</div>
					</div>
				</div>
			</h2>
		</div>
	</div>
</div>

<!-- Location -->
<div class="section page section-location">
	<a name="location"></a>
	<div class="text">
		<h2 style="
			color: white;
			height: 20vh;
			margin: 0 !important;
			padding-top: 3rem;
			font-size: 54px;
		">
			📍地點
		</h2>
	</div>
	<div class="loc" style="margin-top: -3rem;">
		<div>
			<a style="cursor: pointer;" data-modal-target="#md5">
				<div class="feature tag" style="max-width: 80vw !important; height: 100% !important; margin-bottom: 0;">
					<div style="width: 100%; height: 40vh; margin: 0;">
						<div style="
							max-width: 75vw; 
							height: 90%; 
							border-radius: 10px; 
							background-size: cover;
							border-radius: 10px; 
							background-image: url(../static/images/farm.webp);
							background-position: center;
						"></div>
					</div>
					<div style="width: 100%; height: 10.2vh; margin-top: -2rem;">
						<h2 style="font-size: medium; padding: 5px; text-align: left; color: #768CB1 !important;">
							名稱：三富休閒農場
							<br>
							地址：26944 宜蘭縣冬山鄉中山村新寮二路161巷88號
						</h2>
					</div>
				</div>
			</a>
			<div class="modal" id="md5">
				<div class="modal-header">
					<div class="title">三富休閒農場</div>
					<button data-close-button class="close-button">⚔️</button>
				</div>
				<div class="modal-body">
					<div class="center">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/Hs3CjKzOglo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<div class="center">
						<a class="anchor" href="https://www.facebook.com/sanfufarm" target="_blank">
							Facebook 粉絲專頁
						</a>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="center">
				<div class="mapouter">
					<div class="gmap_canvas">
						<iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=%E7%B4%AB%E6%A3%AE%E6%9E%97%E6%97%85%E5%AE%BF-%E4%B8%89%E5%AF%8C%E4%BC%91%E9%96%92%E8%BE%B2%E5%A0%B4%2026944%E5%AE%9C%E8%98%AD%E7%B8%A3%E5%86%AC%E5%B1%B1%E9%84%89%E6%96%B0%E5%AF%AE%E4%BA%8C%E8%B7%AF161%E5%B7%B788%E8%99%9F&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="
		width: 100%;
		margin-top: 1rem;
	">
		<div class="tags">
			<a style="cursor: pointer;" data-modal-target="#md1"><div class="feature flex_feature_item tag">
				💪 網友力薦 
			</div></a>
			<div class="modal" id="md1">
				<div class="modal-header">
					<div class="title">💪 網友力薦</div>
					<button data-close-button class="close-button">⚔️</button>
				</div>
				<div class="modal-body">
					<ul>
						<li><a target="_blank" class="anchor" href="https://gios.pixnet.net/blog/post/61809501-%E4%B8%89%E5%AF%8C%E8%BE%B2%E5%A0%B4%E7%94%9F%E6%85%8B%E4%B9%8B%E6%97%85(%E4%B8%80)">
							宜蘭～三富休閒農場
						</a></li>
						<li><a target="_blank" class="anchor" href="https://www.taipeinavi.com/hotel/385/">
							三富農場生態之旅(一)
						</a></li>
						<li><a target="_blank" class="anchor" href="http://loco-loca.blogspot.com/2011/06/yilan-travel-ecological-farm-organic.html">
							三富休閒農場（宜蘭県）
						</a></li>
					</ul>
				</div>
			</div>
			
			<a style="cursor: pointer;" data-modal-target="#md2"><div class="feature flex_feature_item tag">
				🐱 可愛動物
			</div></a>
			<div class="modal" id="md2">
				<div class="modal-header">
					<div class="title">🐱 可愛動物</div>
					<button data-close-button class="close-button">⚔️</button>
				</div>
				<div class="modal-body">
					<div class="center">
						<div class="pic" style="
							background-image: url('https://pic.pimg.tw/gios/facb200a793d30335b4afa91e48bab3f.jpg');
							height: 16rem;
							width: 24rem;
							margin-bottom: 1rem;
						"></div>
					</div>
					<div class="center">
						<a target="_blank" class="anchor" href="https://gios.pixnet.net/blog/post/61834017">更多小動物</a>
					</div>
				</div>
			</div>

			<a style="cursor: pointer;" data-modal-target="#md3"><div class="feature flex_feature_item tag">
				🏠 精緻套房
			</div></a>
			<div class="modal" id="md3">
				<div class="modal-header">
					<div class="title">🏠 精緻套房</div>
					<button data-close-button class="close-button">⚔️</button>
				</div>
				<div class="modal-body">
					<div class="center">
							<div class="pic" style="
							background-image: url('https://www.sanfufarm.com.tw/images/live_pic013.jpg');
							height: 16rem;
							width: 24rem;
							margin-bottom: 1rem;
						"></div>
					</div>
					<div class="center">
						<a target="_blank" class="anchor" href="https://www.sanfufarm.com.tw/live.html">套房選擇</a>
					</div>
				</div>
			</div>

			<a style="cursor: pointer;" data-modal-target="#md4"><div class="feature flex_feature_item tag">
				📔 環境教育
			</div></a>
			<div class="modal" id="md4">
				<div class="modal-header">
					<div class="title">📔 環境教育</div>
					<button data-close-button class="close-button">⚔️</button>
				</div>
				<div class="modal-body">
					<div class="center">
						<div class="pic" style="
							background-image: url('https://hulong.tw/wp-content/uploads/d7426353d5a2a95b42bc94e5896560c9.jpg');
							height: 16rem;
							width: 24rem;
							margin-bottom: 1rem;
						"></div>
					</div>
					<div class="center">
						<a class="anchor" target="_blank" href="https://hulong.tw/2017-08-30-329/">
							自然生態農場的冒險教育新玩法
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Events -->
<div class="section page" style="
	background-color: #1C202E;
">
	<a name="event"></a>
	<div class="text">
		<h2 style="
			color: white;
			height: 20vh;
			margin: 0 !important;
			padding-top: 3rem;
			font-size: 54px;
		">
			🎱活動
		</h2>
	</div>
	<div class="section_container third_section_container flex_container flex_center">
		<a data-modal-target="#modal1"><div class="feature offer flex_feature_item">
			<div class="event-image" style="
				background-image: url('https://p2.bahamut.com.tw/B/2KU/27/06a24d4dd9be9b2dd2fe1b06a615dan5.JPG');
			"></div>
			<h2 class="event-title">RPG 劇情</h2>
			<p class="light-blue-text">
				一坨沒有意義的文字笑死，哈哈哈哈哈哈。
			</p>
		</div></a>
		<div class="modal" id="modal1">
			<div class="modal-header">
				<div class="title">🦄 RPG 劇情</div>
				<button data-close-button class="close-button">⚔️</button>
			</div>
			<div class="modal-body">
				因為我還不知道任何一點劇情，所以我寫一堆沒有屁用的字，假裝我做了很多事情。
			</div>
		</div>
		
		
		<a data-modal-target="#modal2"><div class="feature offer flex_feature_item">
			<div class="event-image" style="
				background-image: url('https://scontent-tpe1-1.xx.fbcdn.net/v/t1.6435-9/67577217_2437728936450476_4537845025119141888_n.png?_nc_cat=102&ccb=1-7&_nc_sid=730e14&_nc_ohc=sbbBT8hYNwgAX8s9vQo&_nc_ht=scontent-tpe1-1.xx&oh=00_AT-Fv3MNPE_d6cN-o43HtbtHj9ZXKkEjjy8e0sutbYymQw&oe=62EB34DD');
			"></div>
			<h2 class="event-title">水大地</h2>
			<p class="light-blue-text">
				一坨沒有意義的文字笑死，哈哈哈哈哈哈。
			</p>
		</div></a>
		<div class="modal" id="modal2">
			<div class="modal-header">
				<div class="title">💦 水大地</div>
				<button data-close-button class="close-button">⚔️</button>
			</div>
			<div class="modal-body">
				因為我還不知道什麼是水大地，所以我寫一堆沒有屁用的字，假裝我做了很多事情。
			</div>
		</div>

		<a data-modal-target="#modal3"><div class="feature offer flex_feature_item">
			<div class="event-image" style="
				background-image: url('http://vignette1.wikia.nocookie.net/rickandmorty/images/e/e6/Look_who\'s_purging_now_HQ.png/revision/latest?cb=20150930233241');
			"></div>
			<h2 class="event-title">大逃殺</h2>
			<p class="light-blue-text">
				一坨沒有意義的文字笑死，哈哈哈哈哈哈。
			</p>
		</div></a>
		<div class="modal" id="modal3">
			<div class="modal-header">
				<div class="title">🔪 大逃殺</div>
				<button data-close-button class="close-button">⚔️</button>
			</div>
			<div class="modal-body">
				因為我還不知道什麼是大逃殺，所以我寫一堆沒有屁用的字，假裝我做了很多事情。
			</div>
		</div>

		<a data-modal-target="#modal4"><div class="feature offer flex_feature_item">
			<div class="event-image" style="
				background-image: url('https://sportshub.cbsistatic.com/i/2021/09/07/e377a1f4-25f2-4d10-970c-a5162c8a9a7c/rick-and-morty-how-rick-birdperson-met-explained-season-5-spoile-1278739.jpg');
			"></div>
			<h2 class="event-title">晚會</h2>
			<p class="light-blue-text">
				一坨沒有意義的文字笑死，哈哈哈哈哈哈。
			</p>
		</div></a>
		<div class="modal" id="modal4">
			<div class="modal-header">
				<div class="title">🪩 晚會</div>
				<button data-close-button class="close-button">⚔️</button>
			</div>
			<div class="modal-body">
				因為我還不知道什麼是晚會，所以我寫一堆沒有屁用的字，假裝我做了很多事情。
			</div>
		</div>

		<a data-modal-target="#modal5"><div class="feature offer flex_feature_item">
			<div class="event-image" style="
				background-image: url('https://pica.zhimg.com/50/v2-7c55f61626fb1b135fa32462612ff939_720w.jpg?source=1940ef5c');
			"></div>
			<h2 class="event-title">烤肉</h2>
			<p class="light-blue-text">
				一坨沒有意義的文字笑死，哈哈哈哈哈哈。
			</p>
		</div></a>
		<div class="modal" id="modal5">
			<div class="modal-header">
				<div class="title">🍢 烤肉</div>
				<button data-close-button class="close-button">⚔️</button>
			</div>
			<div class="modal-body">
				因為我還不知道什麼是烤肉，所以我寫一堆沒有屁用的字，假裝我做了很多事情。
			</div>
		</div>
	</div>
</div>


<div class="section page">	
	<a name="team"></a>
	<h2 style="display: block; margin-top: 3rem;">
		Under Construction
	</h2>
	<h1 id="construction" style="
		font-size: 8rem;
		user-select: none;
		display: block;
	">
		🚸
	</h1>
	<div id="overlay"></div>
	<div class="section_container second_section_container flex_container flex_center ch-font">
	<!-- <div class="text header_text">
			<h1>
				團隊成員
			</h1>
		</div>
		<a href="#link4">
			<div class="feature flex_feature_item feature4">
				<div class="feature_image"></div>
				<h2 class="ch-font">你媽</h2>
			</div>
		</a> -->
	</div>
</div>

<div class="section footer_section">
	<p class="footer_text">
		國立臺灣大學 National Taiwan University
		<br>
		資訊管理學系 | 工程科學及海洋工程學系 | 物理治療學系
		<br>
		Web Design & Development: 台大資管一顧寬証
		<br>
		Copyright © Treasure Hunter 2022 
	</p>
</div>

<script src="../static/js/script.js"></script>

</body>
</html> 
