 <!DOCTYPE html>
<html lang="de-CH">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Pacifico|Rubik" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<meta name="Author" content="台大資管一 顧寬証 Ruby Ku">
	<meta name="copyright" content="Treasure Hunter 2022">
	<meta name="keywords" content="學長姐制, 社團, 高中, 學長姐, 學弟妹, 校園">
	<meta name="description" content="當學長姐制成為管理工具">
	<link rel="icon" type="image/x-icon" href="../static/images/logo2.jpeg">
	<title>當學長姐制成為管理工具</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Manrope:wght@600&family=Poppins&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Manrope:wght@600;800&family=Poppins&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Modern+Antiqua&family=Noto+Serif+TC&display=swap" rel="stylesheet">
</head>
<body>
<div id="loading">
	<h1 style="
		margin: 0;
		font-size: 8rem;
		user-select: none;
		margin-top: 40vh;
		margin-bottom: 0vh;
		color: #768CB1 !important;
	">
	<p id="emo">
		⏳
	</p>
</h1>
<h1 style="
		margin-bottom: 1rem;
		margin-top: 2vh;
		font-family: 'Quicksand', sans-serif;
		font-size: 1.2rem;
		color: #768CB1 !important;
	">
		「低頭閉眼！」
	</h1>
</div>
<a name="top"></a>
<a href="#top"> <div class="arrow_image">⬆️</div></a>
<div id="change_class" class="flex_container section menu_section" style="display: none;">
	<div class="flex_item branding"><a href="#top"><p>🧑‍🎓</p></a></div>
	<div class="flex_item menu_item dropdown">
		<p style="color: #768CB1;">選單</p>
		<div class="dropdown-content">
			<a href=""><div class="menu_item menu_item_inside"><a class="menu-text" href="#preface"><p>前言</p></a></div>
			<a href=""><div class="menu_item menu_item_inside"><a class="menu-text" href="#in"><p>制內</p></a></div>
			<a href=""><div class="menu_item menu_item_inside"><a class="menu-text" href="#out"><p>制外</p></a></div>
			<a href=""><div class="menu_item menu_item_inside"><a class="menu-text" href="#survey"><p>問卷</p></a></div>
			<a href=""><div class="menu_item menu_item_inside"><a class="menu-text" href="#team"><p>團隊</p></a></div>
		</div>
	</div>
	<div class="flex_item menu_item menu_item_outside"><a class="menu-text" href="#preface"><p>前言</p></a></div></a>
	<div class="flex_item menu_item menu_item_outside"><a class="menu-text" href="#in"><p>制內</p></a></div></a>
	<div class="flex_item menu_item menu_item_outside"><a class="menu-text" href="#out"><p>制外</p></a></div></a>
	<div class="flex_item menu_item menu_item_outside"><a class="menu-text" href="#survey"><p>問卷</p></a></div></a>
	<div class="flex_item menu_item menu_item_outside"><a class="menu-text" href="#team"><p>團隊</p></a></div>
</div>

<div class="section page header_section">
	<a name="top"></a>
	<div class="section_container header_section_container flex_container flex_header_container">
		<div class="text header_text" style="
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		">
			<h1 style="
				font-family: 'Poppins', sans-serif;
				margin-bottom: .5rem;
				margin-top: 3.5rem;
				color: white;
				padding-top: 7rem;
				padding-left: 1.5rem;
				padding-right: 1.5rem;
				user-select: none;
				font-size: 3rem;
				max-width: 80vw;
			">
				當
				<strong style="font-size: 3.4rem; color: #88382F;">
					學長姐制
				</strong>
				成為管理工具
			</h1>
			<div style="margin-bottom: 3.5rem;">
				<span style="
					font-family: 'Quicksand', sans-serif;
					color: #768CB1;
					display: inline;
					user-select: none;
				">
				社團管理如何建構校園權力關係
				</span>
			</div>
			<h1 id="emoji" style="
				margin: 0;
				font-size: 8rem;
				user-select: none;
				margin-bottom: 2.5rem;
			"
				class="button button-effect"
			>
				🧑‍🎓
			</h1>
			</div>
			<div class="flex_item">
			<h2 class="header_quote" style="
				font-family: 'Roboto', sans-serif;
				font-size: xx-large;
				color: #768CB1;
			">
				<div class="tags">
					<a style="cursor: pointer;" href="#preface" data-modal-target="#pt">
						<div class="feature flex_feature_item tag">
							開始探索 
						</div>
					</a>
				</div>
			</h2>
		</div>
	</div>
</div>

<!-- Location -->
<div class="section page section-location">
	<a name="preface"></a>
	<div class="text">
		<h2 style="
			color: white;
			height: 20vh;
			margin: 0 !important;
			padding-top: 3rem;
			font-size: 54px;
		">
			前言
		</h2>
	</div>
	<div class="loc" style="margin-top: -3rem;">
		<div class="tags">
			<div class="center" style="width: 100%; max-width: 80vw !important; height: auto;">
				<div style="width: 30rem; height: 100%; margin: 0 !important;">
					<p style="color: #768CB1 !important; border-left: #768CB1 3px solid; padding-left: 7px;">
						「這是一段沒有意義的文字，不然空著很尷尬哈哈。這是一段沒有意義的文字，不然空著很尷尬哈哈。這是一段沒有意義的文字，不然空著很尷尬哈哈。這是一段沒有意義的文字，不然空著很尷尬哈哈。這是一段沒有意義的文字，不然空著很尷尬哈哈。」
					</p>
				</div>
			</div>
			<hr style=" margin-bottom: 2.2rem;">
			<a class="hover-scale tag comment" style="cursor: pointer;" data-modal-target="#faq1">
				<div class="avatar" style="background-color: #161822; ">
					<h2 class="avatar-pic">
						🧑‍💼
					</h2>
				</div>
				<div class="content">
					<h2 style="font-size: x-large; padding: 5px; text-align: left; color: white; margin: 0;">
						什麼是「學長姐制」？
					</h2>
					<p style="color: #768CB1 !important;">
						什麼是「學長姐制」，我該如何定義？
					</p>
				</div>
			</a>
			<div class="modal" id="faq1">
				<div class="modal-header">
					<div class="title">什麼是「學長姐制」？</div>
					<button data-close-button class="close-button">⚔️</button>
				</div>
				<div class="modal-body">
					<div class="center">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/2mNUoK3Gx-s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<p>
						學長姐制，又稱 <strong>學長學弟制</strong>、<strong>學姊學妹制</strong>。
						<br>
						這個問題並沒有標準答案，每個人都可以有不同的見解。
						<br>
						我們的研究範圍專注於高中校園。
						為了使研究更嚴謹且準確，我們對於學長姐制的定義為
						<strong>「以同社團內的年齡、階級（幹部、非幹部）差異對其他成員行使肢體或言語上的限制」</strong>。
						<br>
						若你想看到更完整的定義，請參閱 <a class="anchor" target="_blank" href="https://zh.m.wikipedia.org/zh-tw/%E5%AD%B8%E9%95%B7%E5%AD%B8%E5%BC%9F%E5%88%B6">學長學弟制 - 維基百科</a>。
					</p>
					<!-- <div class="center">
						<a class="anchor" href="https://www.facebook.com/sanfufarm" target="_blank">
							Facebook 粉絲專頁
						</a>
					</div> -->
				</div>
			</div>

			<a class="hover-scale tag comment" style="cursor: pointer;" data-modal-target="#faq2">
				<div class="avatar" style="background-color:#161822; padding: 0;">
					<h2 class="avatar-pic">
						👩‍💼
					</h2>
				</div>
				<div class="content">
					<h2 style="font-size: x-large; padding: 5px; text-align: left; color: white; margin: 0;">
						學長姐制會發生在哪裡？
					</h2>
					<p style="color: #768CB1 !important;">
						學長姐制會發生在哪裡，會影響到我嗎？
					</p>
				</div>
			</a>
			<div class="modal" id="faq2">
				<div class="modal-header">
					<div class="title">學長姐制會發生在哪裡？</div>
					<button data-close-button class="close-button">⚔️</button>
				</div>
				<div class="modal-body">
					<div class="center">
						<div class="pic" style="
							background-image: url('https://cw-image-resizer.cwg.tw/resize/uri/https%3A%2F%2Fstorage.googleapis.com%2Fcrossing-cms-cwg-tw%2Farticle%2F202112%2Farticle-61b1645f6c372.jpg/?w=1170&format=webp');
							height: 16rem;
							width: 24rem;
							margin-bottom: 1rem;
						"></div>
					</div>
					<p>
						根據維基百科，學長姐制除了存在
						<strong>各級學校</strong>
						中，也常行於在
						<strong>
							軍事團體、各級機關、體育團體等
						</strong>。
						<br>
						除此之外，職場中也偶爾發生「前輩欺壓後輩」等情況，我們認為也算是廣義的學長姐制範例之一。
						<br>
						廣義的學長姐制在現實生活中非常普遍，因此大多數的人都受過其影響。
					</p>
				</div>
			</div>

			<a class="hover-scale tag comment " style="cursor: pointer;" data-modal-target="#faq2">
				<div class="avatar" style="background-color:#161822;">
					<h2 class="avatar-pic">
						👨‍💼
					</h2>
				</div>
				<div class="content">
					<h2 style="font-size: x-large; padding: 5px; text-align: left; color: white; margin: 0;">
						為何要關心學長姐制？
					</h2>
					<p style="color: #768CB1 !important;">
						我為什麼要關心學長姐制，這與我何關？
					</p>
				</div>
			</a>
			<div class="modal" id="faq2">
				<div class="modal-header">
					<div class="title">學長姐制會發生在哪裡？</div>
					<button data-close-button class="close-button">⚔️</button>
				</div>
				<div class="modal-body">
					<div class="center">
						<div class="pic" style="
							background-image: url('https://cw-image-resizer.cwg.tw/resize/uri/https%3A%2F%2Fstorage.googleapis.com%2Fcrossing-cms-cwg-tw%2Farticle%2F202112%2Farticle-61b1645f6c372.jpg/?w=1170&format=webp');
							height: 16rem;
							width: 24rem;
							margin-bottom: 1rem;
						"></div>
					</div>
					<p>
						根據維基百科，學長姐制除了存在
						<strong>各級學校</strong>
						中，也常行於在
						<strong>
							軍事團體、各級機關、體育團體等
						</strong>。
						<br>
						除此之外，職場中也偶爾發生「前輩欺壓後輩」等情況，我們認為也算是廣義的學長姐制範例之一。
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section page" style="
	background-color: white;
">
	<a name="in"></a>
	<div class="text">
		<h2 style="
			color: black;
			height: 20vh;
			margin: 0 !important;
			padding-top: 3rem;
			font-size: 54px;
		">
			體制內的觀點
		</h2>
	</div>
	<div class="center" style="margin-top: -3rem; margin-bottom: 1rem;">
		<span style="
			font-family: 'Quicksand', sans-serif;
			color: #4D4D4D;
			display: inline;
			user-select: none;
		">
			學長姐制之於社團運作的重要性
		</span>
	</div>
	<div class="center" style="margin-bottom: 1rem; ">
		<div style="max-width: 80vw; width: 30rem; height: 100%; margin: 0 !important;">
			<p style="color: #4D4D4D !important; border-left: #161822 3px solid; padding-left: 7px;">
				OO的經驗反映出學長姐制生根於高中校園社團文化的現象。對此，我們邀請了11位曾經在實施學長姐制之社團擔任幹部的受訪者，記錄他們在此制度下的經歷，以及對此制度的看法。
			</p>
		</div>
	</div>
	<div class="center">
		<p class="description">
			身為熱舞社前社長的 A 表示，學長姐制在社團內主要被用來降低潛在的受傷風險，並維持紀律。
		</p>
	</div>
	<div class="center">
		<div class="hover-scale tag comment" style="width: 50rem; background-color: #DFDFDF !important;">
			<div class="avatar" style="background-color: #adbdc1; ">
				<h2 class="avatar-pic">
					🙋‍♀️
				</h2>
			</div>
			<div style="width: 100%; height: 100%; margin: 0 !important;">
				<h2 style="font-size: x-large; padding: 5px; text-align: left; color: black; margin: 0;">
					學長姐制為何有存在的必要性？
				</h2>
				<p style="color: #4D4D4D !important; margin-top: 0;">
					「對於剛進來，沒有基礎的學弟妹，有些動作容易受傷，因此需要學長姐制來維持紀律，以確保練習過程中不會發生危險。除此之外，在學長姐制的壓力下也可以逼迫學弟妹好好練習。」
				</p>
				<p class="sign" style="color: black;">
					－熱舞社前社長，A
				</p>
			</div>
		</div>
	</div>
	<div class="center">
		<p class="description">
			曾在女校儀隊擔任隊長的 B 也提出類似的觀點。
		</p>
	</div>
	<div class="center">
		<div class="hover-scale tag comment" style="width: 50rem; background-color: #DFDFDF !important;">
			<div class="avatar" style="background-color: #adbdc1; ">
				<h2 class="avatar-pic">
					👩‍🎓
				</h2>
			</div>
			<div style="width: 100%; height: 100%; margin: 0 !important;">
				<h2 style="font-size: x-large; padding: 5px; text-align: left; color: black; margin: 0;">
					學長姐制為何有存在的必要性？
				</h2>
				<p style="color: #4D4D4D !important; margin-top: 0;">
					我認為學姊學妹制在儀隊裡是必要的存在，因為儀隊練習時，在使用儀槍的過程中存在一定的危險性，且儀隊表演需要花大量的時間去練習並講求動作整齊劃一，因此學姊學妹制的存在除了可以減少危險的發生，更能提高練習的效率。」
				</p>
				<p class="sign" style="color: black;">
					－女校儀隊前隊長，B
				</p>
			</div>
		</div>
	</div>
	<div class="center">
		<p class="description">
			在訪談中，對學長姐制表示認同的受訪者，其所屬的社團在練習過程中都具有一定程度的風險，加上社團本身會需要進行表演，因此需要透過維持紀律的手段來確保練習進度。
		</p>
	</div>
	<hr>
	<div class="center">
		<p class="description">
			雖然在訪談的過程中，大部分曾經歷過學長姐制的受訪者皆對制度表示認同，然而，也有受訪者對此制度表示質疑。

		</p>
	</div>
	<div class="center">
		<p class="description">
			曾在禮兵隊擔任隊長的 C 對社團內的管理方式表示質疑
		</p>
	</div>
	<div class="center">
		<div class="hover-scale tag comment" style="width: 50rem; background-color: #DFDFDF !important;">
			<div class="avatar" style="background-color: #adbdc1; ">
				<h2 class="avatar-pic">
					💂‍♂️
				</h2>
			</div>
			<div style="width: 100%; height: 100%; margin: 0 !important;">
				<h2 style="font-size: x-large; padding: 5px; text-align: left; color: black; margin: 0;">
					學長姐制之下的管理方式與合理性爭議
				</h2>
				<p style="color: #4D4D4D !important; margin-top: 0;">
					學長姐制的弊病是：學弟妹有表現不好的地方，在當下可能直接用罵的。但學長姊在罵人時，多半在當下不會深究原因，反而藉此展現權威才是主要的目的。因此我認為實施學長姐制並不能完全解決社團內的問題。
				</p>
				<p class="sign" style="color: black;">
					－禮兵隊前隊長，C
				</p>
			</div>
		</div>
	</div>
	<div class="center">
		<p class="description">
			從訪談的過程中，許多受訪者也分享了社團內制定的各種規則。
		</p>
	</div>
	<div class="center">
		<div class="hover-scale tag comment" style="width: 50rem; background-color: #DFDFDF !important;">
			<div class="avatar" style="background-color: #adbdc1; ">
				<h2 class="avatar-pic">
					👩‍🎓
				</h2>
			</div>
			<div style="width: 100%; height: 100%; margin: 0 !important;">
				<h2 style="font-size: x-large; padding: 5px; text-align: left; color: black; margin: 0;">
					學長姐制之下的管理方式與合理性爭議
				</h2>
				<p style="color: #4D4D4D !important; margin-top: 0;">
					當時我們被要求看到學姐必須要問好，這應該是所有學長姐制社團都會要求的事項。另外，我們當時也被要求在與學姊傳訊息、說話時，不能使用『妳』這個字，而是要改用第三人稱的『OO學姊』當作代名詞。其他規範還有接任幹部前不能和學姊取得其他社群軟體的聯繫方式，而是要用簡訊溝通等等。
				</p>
				<p class="sign" style="color: black;">
					－女校儀隊前隊長，B
				</p>
			</div>
		</div>
	</div>
	<div class="center">
		<p class="description">
			除了上述規範，許多學長姐制社團也會進行「低頭閉眼」的活動，透過要求學弟妹低頭閉眼、學長姐開始訓話的方式，建立學長姐在學弟妹心中的權威地位。
		</p>
	</div>
	<div class="center">
		<p class="description">
			曾在男校生物研究社擔任教學長的 D ，對於當時的社團制度提出了質疑。
		</p>
	</div>
	<div class="center">
		<div class="hover-scale tag comment" style="width: 50rem; background-color: #DFDFDF !important;">
			<div class="avatar" style="background-color: #adbdc1; ">
				<h2 class="avatar-pic">
					👨‍🎓
				</h2>
			</div>
			<div style="width: 100%; height: 100%; margin: 0 !important;">
				<h2 style="font-size: x-large; padding: 5px; text-align: left; color: black; margin: 0;">
					學長姐制之下的管理方式與合理性爭議
				</h2>
				<p style="color: #4D4D4D !important; margin-top: 0;">
					既然學長姐制存在的目的是為了要讓學弟妹尊重、信服他們，學長姐不應該用嚴厲字詞管教學弟妹，反而應該要以身作則、做動作做得比學弟妹確實，同時讓學弟妹了解學長姐每個要求背後的原因，這樣反而能讓學弟妹自然而然的尊敬他們。因此，沒有學長姐制存在的必要。
				</p>
				<p class="sign" style="color: black;">
					－男校生物研究社前教學長，D
				</p>
			</div>
		</div>
	</div>
	<div class="center">
		<p class="description">
			總結受訪者之中的反對意見，我們可以觀察到學長姐制之下，許多活動的儀式性質大於實質意義。在訪談中，也有不少受訪者表示學長姐制之下為了要建立起上對下的權威，會出現「罵學弟妹但不知道學弟妹錯在哪」的現象。
		</p>
	</div>
	<div class="center">
		<p class="description">
			D 針對疑慮做出了以下表示
		</p>
	</div>
	<div class="center">
		<div class="hover-scale tag comment" style="width: 50rem; background-color: #DFDFDF !important;">
			<div class="avatar" style="background-color: #adbdc1; ">
				<h2 class="avatar-pic">
					👨‍🎓
				</h2>
			</div>
			<div style="width: 100%; height: 100%; margin: 0 !important;">
				<h2 style="font-size: x-large; padding: 5px; text-align: left; color: black; margin: 0;">
					學長姐制之下的管理方式與合理性爭議
				</h2>
				<p style="color: #4D4D4D !important; margin-top: 0;">
					在現行制度之下，我認為若要做出改變，應該是要讓學弟妹了解學長姐在每個要求背後的原因，並減少無理且過於形式化的指令。
				</p>
				<p class="sign" style="color: black;">
					－男校生物研究社前教學長，D
				</p>
			</div>
		</div>
	</div>
	<hr>
	<div class="center">
		<p class="description">
			至於學長姐制之下的社團氛圍，許多受訪者提到了容易與學弟妹產生隔閡的問題。
		</p>
	</div>
	<div class="center">
		<div class="hover-scale tag comment" style="width: 50rem; background-color: #DFDFDF !important;">
			<div class="avatar" style="background-color: #adbdc1; ">
				<h2 class="avatar-pic">
					🧑‍💼
				</h2>
			</div>
			<div style="width: 100%; height: 100%; margin: 0 !important;">
				<h2 style="font-size: x-large; padding: 5px; text-align: left; color: black; margin: 0;">
					社團關係維繫問題
				</h2>
				<p style="color: #4D4D4D !important; margin-top: 0;">
					因為身為學長姊的身分，在我們跟學弟妹私底下的相處上，沒有辦法與他們有太多的交集，因此我們不太可能與學弟妹成為很好的朋友，談一些比較內心的想法。
				</p>
				<p class="sign" style="color: black;">
					－英語會話社社長，E
				</p>
			</div>
		</div>
	</div>
	<div class="center">
		<div class="hover-scale tag comment" style="width: 50rem; background-color: #DFDFDF !important;">
			<div class="avatar" style="background-color: #adbdc1; ">
				<h2 class="avatar-pic">
					👨‍🎓
				</h2>
			</div>
			<div style="width: 100%; height: 100%; margin: 0 !important;">
				<h2 style="font-size: x-large; padding: 5px; text-align: left; color: black; margin: 0;">
					社團關係維繫問題
				</h2>
				<p style="color: #4D4D4D !important; margin-top: 0;">
					制度下也會造成學長姊的權力濫用，有時為了罵而罵，反而失去要求背後的目的，讓懲罰本身淪為情緒上的抒發。而如果學長姐制無法贏得學弟妹發自內心的尊重，則長遠下來將降低社團管理的效率。
				</p>
				<p class="sign" style="color: black;">
					－男校生物研究社前教學長，D
				</p>
			</div>
		</div>
	</div>
	<hr>
	<div class="center">
		<p class="description">
			然而，在學長姐制之下，社團內部也可能出現學弟妹對學長姊「產生崇拜」的現象。
		</p>
	</div>
	<div class="center">
		<div class="hover-scale tag comment" style="width: 50rem; background-color: #DFDFDF !important;">
			<div class="avatar" style="background-color: #adbdc1; ">
				<h2 class="avatar-pic">
					👩‍🎓
				</h2>
			</div>
			<div style="width: 100%; height: 100%; margin: 0 !important;">
				<h2 style="font-size: x-large; padding: 5px; text-align: left; color: black; margin: 0;">
					學弟妹對學長姐的崇拜現象
				</h2>
				<p style="color: #4D4D4D !important; margin-top: 0;">
					因為學姐學妹制在社團內部形成的地位差異，容易讓學妹對學姐產生崇拜感，且社團的所有運作，包含教學和行政等重擔和壓力都由學姐獨自完成，所以更容易讓學妹產生依賴感及安全感，結合兩者產生『開花』的現象。
				</p>
				<p class="sign" style="color: black;">
					－女校儀隊前隊長，B
				</p>
			</div>
		</div>
	</div>
	<div class="center">
		<p class="description">
			擔任生物研究社教學長的 D 也提出類似看法。
		</p>
	</div>
	<div class="center">
		<div class="hover-scale tag comment" style="width: 50rem; background-color: #DFDFDF !important;">
			<div class="avatar" style="background-color: #adbdc1; ">
				<h2 class="avatar-pic">
					👨‍🎓
				</h2>
			</div>
			<div style="width: 100%; height: 100%; margin: 0 !important;">
				<h2 style="font-size: x-large; padding: 5px; text-align: left; color: black; margin: 0;">
					學弟妹對學長姐的崇拜現象
				</h2>
				<p style="color: #4D4D4D !important; margin-top: 0;">
					之前有一個學長在野外介紹生態時，把一隻赤尾青竹絲抓起來解說，從那刻起我就打從心裡的尊敬他了，會想從學長身上學到一點東西。
				</p>
				<p class="sign" style="color: black;">
					－男校生物研究社前教學長，D
				</p>
			</div>
		</div>
	</div>
	<div class="center">
		<p class="description">
			綜合以上訪談結果，我們發現經歷過此制度的受訪者，無論認不認同此制度，皆提到在社團內不能做出太過無理的要求，以及「為了罵而罵」，反而是要「要求合理，讓學弟妹感受到真實尊重」的學長姐制，才可以讓學弟妹自願服從組織的規範，並且對學長姊的領導產生認同感，進而提高社團的營運效率。
		</p>
	</div>


	<!-- <div class="section_container third_section_container flex_container flex_center"> -->
		<!-- <a data-modal-target="#modal1"><div class="feature offer flex_feature_item">
			<div class="event-image" style="
				background-image: url('https://p2.bahamut.com.tw/B/2KU/27/06a24d4dd9be9b2dd2fe1b06a615dan5.JPG');
			"></div>
			<h2 class="event-title">RPG 劇情</h2>
			<p class="light-blue-text">
				一坨沒有意義的文字笑死，哈哈哈哈哈哈。
			</p>
		</div></a>
		<div class="modal" id="modal1">
			<div class="modal-header">
				<div class="title">🦄 RPG 劇情</div>
				<button data-close-button class="close-button">⚔️</button>
			</div>
			<div class="modal-body">
				因為我還不知道任何一點劇情，所以我寫一堆沒有屁用的字，假裝我做了很多事情。
			</div>
		</div> -->
	<!-- </div> -->
</div>
<div class="section page" style="
	background-color: white;
">
	<a name="out"></a>
	<div class="text">
		<h2 style="
			color: black;
			height: 20vh;
			margin: 0 !important;
			padding-top: 3rem;
			font-size: 54px;
		">
			體制外的反思
		</h2>
	</div>
	<div class="center" style="margin-top: -3rem; margin-bottom: 1rem;">
		<span style="
			font-family: 'Quicksand', sans-serif;
			color: #4D4D4D;
			display: inline;
			user-select: none;
		">
			學長姐制是否有存在的必要？
		</span>
	</div>
	<div class="center">
		<p class="description">
			在前述的訪談中，我們發現在經歷過學長姐制的受訪者中，大部分對於制度都是採取認同的態度的。然而，若從其他非採用學長姐制社團的角度來看，學長姐制真的有像先前受訪者說的那樣有效嗎？
		</p>
	</div>
	<div class="center">
		<p class="description">
			以下我們訪談了三位來自管樂社、演辯社、桌球隊的社團幹部，三人所處的社團皆為沒有實施學長姐制的。在訪談中，三人一致認為使用學長姐制對社團的長遠發展沒有幫助，頂多是認為在社團新成員加入的階段（新生入學）可以較為快速地建立秩序。
		</p>
	</div>
	<div class="center">
		<div class="hover-scale tag comment" style="width: 50rem; background-color: #DFDFDF !important;">
			<div class="avatar" style="background-color: #adbdc1; ">
				<h2 class="avatar-pic">
					🧑‍⚖️
				</h2>
			</div>
			<div style="width: 100%; height: 100%; margin: 0 !important;">
				<h2 style="font-size: x-large; padding: 5px; text-align: left; color: black; margin: 0;">
					對學長姐制社團營運效率的質疑
				</h2>
				<p style="color: #4D4D4D !important; margin-top: 0;">
					社團存在上對下權威關係的情況下，會導致群體內出現『因害怕被罵』而『不敢點出問題』的現象。加上在學弟妹擔任幹部後，若選擇延續此制度，則會形成社團運作上的惡性循環。且以我自身的觀察，在學弟妹接任幹部後，都還是會持續受到來自高三學長姊的壓力，學長姐還是會持續介入社團運作，這樣的條件下更降低了改變社團既有問題的機會。
				</p>
				<p class="sign" style="color: black;">
					－演說辯論社副社長，Fred
				</p>
			</div>
		</div>
	</div>
	<div class="center">
		<p class="description">
			曾在管樂社擔任活動長與銅管聲部長、現為管樂社指導老師的受訪者小鈸則提出
		</p>
	</div>
	<div class="center">
		<div class="hover-scale tag comment" style="width: 50rem; background-color: #DFDFDF !important;">
			<div class="avatar" style="background-color: #adbdc1; ">
				<h2 class="avatar-pic">
					👨‍🏫
				</h2>
			</div>
			<div style="width: 100%; height: 100%; margin: 0 !important;">
				<h2 style="font-size: x-large; padding: 5px; text-align: left; color: black; margin: 0;">
					對學長姐制社團營運效率的質疑
				</h2>
				<p style="color: #4D4D4D !important; margin-top: 0;">
					以管樂的情況來說，很多人在進入高中前就已經學了很多年樂器，因此新進學弟妹的程度是非常有可能比學長姐還要好的。因此在練習時，若使用學長姊的權威限制學弟妹表達意見的機會，對整首樂曲的呈現反而會有負面的影響，因為有時候學弟妹提出對音樂呈現的想法反而可以真正幫助到練習的進度與方向。
				</p>
				<p class="sign" style="color: black;">
					－管樂社指導老師，小鈸
				</p>
			</div>
		</div>
	</div>
	<hr>
	<div class="center">
		<p class="description">
			訪談中，三人對於學長姐制社團的一些常見的管理方式都提出了質疑。
		</p>
	</div>
	<div class="center">
		<div class="hover-scale tag comment" style="width: 50rem; background-color: #DFDFDF !important;">
			<div class="avatar" style="background-color: #adbdc1; ">
				<h2 class="avatar-pic">
					🙅‍♀️
				</h2>
			</div>
			<div style="width: 100%; height: 100%; margin: 0 !important;">
				<h2 style="font-size: x-large; padding: 5px; text-align: left; color: black; margin: 0;">
					學長姐制的必要性與公平性

				</h2>
				<p style="color: #4D4D4D !important; margin-top: 0;">
					我覺得那些『低頭閉眼』或『要求跟學長姐打招呼』的規定，對於社團的實際運作根本沒有幫助，只是在滿足學長姐想要得到權威的虛榮心而已。
				</p>
				<p class="sign" style="color: black;">
					－桌球隊隊長，Flora
				</p>
			</div>
		</div>
	</div>
	<div class="center">
		<div class="hover-scale tag comment" style="width: 50rem; background-color: #DFDFDF !important;">
			<div class="avatar" style="background-color: #adbdc1; ">
				<h2 class="avatar-pic">
					🧑‍⚖️
				</h2>
			</div>
			<div style="width: 100%; height: 100%; margin: 0 !important;">
				<h2 style="font-size: x-large; padding: 5px; text-align: left; color: black; margin: 0;">
					學長姐制的必要性與公平性

				</h2>
				<p style="color: #4D4D4D !important; margin-top: 0;">
					在我們學校的熱舞社（實施學長姐制）裡，我發現很多時候學長姐常因為一些小事而體罰學弟妹，例如要求學弟妹不斷做特定的動作。但是如果學長姊同樣在練習過程中表現不佳時，則不會受到懲罰。
				</p>
				<p class="sign" style="color: black;">
					－演說辯論社副社長，Fred
				</p>
			</div>
		</div>
	</div>
	<div class="center">
		<p class="description">
			受訪者認為學長姐制僅被用來建立權威，對實際的社團運作反而沒有太大的幫助，且社團的規定多只被用來限制學弟妹，學長姊卻不會受到社團規定的制約。
		</p>
	</div>
	<hr>
	<div class="center">
		<p class="description">
			三位受訪者皆一致表示，在沒有學長姐制的情況下，他們在與同屆、學長姊、學弟妹的相處上是普遍融洽的，因為在此情況下，有想要表達的觀點都可以直接反應出來，在社團事務之外的人際互動也較沒有學長姐、學弟妹的年齡、階級限制。
		</p>
	</div>
	<div class="center">
		<div class="hover-scale tag comment" style="width: 50rem; background-color: #DFDFDF !important;">
			<div class="avatar" style="background-color: #adbdc1; ">
				<h2 class="avatar-pic">
					👨‍🏫
				</h2>
			</div>
			<div style="width: 100%; height: 100%; margin: 0 !important;">
				<h2 style="font-size: x-large; padding: 5px; text-align: left; color: black; margin: 0;">
					學長姐制的必要性與公平性

				</h2>
				<p style="color: #4D4D4D !important; margin-top: 0;">
					我們到現在（畢業後）跟學長姊、學弟妹的關係都還是很好。除了我們自己會常常聚會之外，當在校生需要協助時，大家也都很願意回去幫忙。
				</p>
				<p class="sign" style="color: black;">
					－管樂社指導老師，小鈸
				</p>
			</div>
		</div>
	</div>
	<div class="center">
		<p class="description">
			Fred 也提出類似的看法。
		</p>
	</div>
	<div class="center">
		<div class="hover-scale tag comment" style="width: 50rem; background-color: #DFDFDF !important;">
			<div class="avatar" style="background-color: #adbdc1; ">
				<h2 class="avatar-pic">
					🧑‍⚖️
				</h2>
			</div>
			<div style="width: 100%; height: 100%; margin: 0 !important;">
				<h2 style="font-size: x-large; padding: 5px; text-align: left; color: black; margin: 0;">
					學長姐制的必要性與公平性

				</h2>
				<p style="color: #4D4D4D !important; margin-top: 0;">
					我們跟學長姐、學弟妹的感情很好，除了在準備辯論稿的時候會交換想法之外，私底下我們也會互相分享生活上的其他事情。這點在有學長姐制的條件下可能就比較難達成。
				</p>
				<p class="sign" style="color: black;">
					－演說辯論社副社長，Fred
				</p>
			</div>
		</div>
	</div>
	<div class="center">
		<p class="description">
			綜合以上訪談結果，在三位受訪者的論述中，皆認為學長姐制會限制表達意見的機會，進而形成運作沒有效率的惡性循環；學長姐制的行為並沒有增加運作成效的正面效益，因此不具有實施的必要性，且許多處罰機制皆不適用於學長姐；三者皆提出在人際互動上，沒有學長姐制時，有較多的空間與彈性可以進行非社團事務的私下交流。
		</p>
	</div>
	

</div>
<div class="section page" style="
	background-color: white;
">
	<a name="survey"></a>
	<div class="text">
		<h2 style="
			color: black;
			height: 20vh;
			margin: 0 !important;
			padding-top: 3rem;
			font-size: 54px;
		">
			問卷調查結果
		</h2>
	</div>
	<div class="center" style="margin-top: -3rem; margin-bottom: 1rem;">
		<span style="
			font-family: 'Quicksand', sans-serif;
			color: #4D4D4D;
			display: inline;
			user-select: none;
		">
			聽聽大家怎麼想？
		</span>
	</div>
	<div class="center">
		<p class="description">
			除了質化訪談外，我們也透過問卷的發放，調查學生如何看待學長姐制。在受試者中，有39.6%所屬的社團採用學長姐制，剩餘的60.3%則沒有。以下我們將針對兩個族群的回覆結果進行分析。
		</p>
	</div>
</div>
<div class="section page" style="
	background-color: white;
">
	<a name="school"></a>
	<div class="text">
		<h2 style="
			color: black;
			height: 20vh;
			margin: 0 !important;
			padding-top: 3rem;
			font-size: 54px;
		">
			校方的觀點
		</h2>
	</div>
	<div class="center" style="margin-top: -3rem; margin-bottom: 1rem;">
		<span style="
			font-family: 'Quicksand', sans-serif;
			color: #4D4D4D;
			display: inline;
			user-select: none;
		">
			對於學長姐制存在於校園的看法
		</span>
	</div>
	<div class="center">
		<p class="description">
			在從學生的角度探討不同社團性質的論述後，我們也進一步訪問了兩位高中社團組的老師，以進一步了解校方對於學長姐制的看法。
		</p>
	</div>
	<div class="center">
		<p class="description">
			在台北市某高中擔任社團組長的 F 老師說道
		</p>
	</div>
	<div class="center">
		<div class="hover-scale tag comment" style="width: 50rem; background-color: #DFDFDF !important;">
			<div class="avatar" style="background-color: #adbdc1; ">
				<h2 class="avatar-pic">
					👨‍💼
				</h2>
			</div>
			<div style="width: 100%; height: 100%; margin: 0 !important;">
				<h2 style="font-size: x-large; padding: 5px; text-align: left; color: black; margin: 0;">
					學校對於社團管理的態度
				</h2>
				<p style="color: #4D4D4D !important; margin-top: 0;">
					原則上我們不會主動干涉學生社團要採取什麼樣的管理方式。但如果我們收到進一步的投訴後，會找社團幹部來進一步了解狀況。例如之前曾有社團發生在『低頭閉眼』的過程中，說出具有暴力威脅傾向的論述，我們就找了社團的負責人來詢問當時的情況。
				</p>
				<p class="sign" style="color: black;">
					－台北市某高中社團組長，F 老師 
				</p>
			</div>
		</div>
	</div>
	<div class="center">
		<p class="description">
			在新北市某高中擔任社團組長的 Debbie 老師也提出類似的觀點。
		</p>
	</div>
	<div class="center">
		<div class="hover-scale tag comment" style="width: 50rem; background-color: #DFDFDF !important;">
			<div class="avatar" style="background-color: #adbdc1; ">
				<h2 class="avatar-pic">
					👨‍💻
				</h2>
			</div>
			<div style="width: 100%; height: 100%; margin: 0 !important;">
				<h2 style="font-size: x-large; padding: 5px; text-align: left; color: black; margin: 0;">
					學校對於社團管理的態度
				</h2>
				<p style="color: #4D4D4D !important; margin-top: 0;">
					從我上任後，其實並沒有收到投訴過，大部分對學長姐制的不滿會反映在學生的轉社申請表單上。在我知道情形，或社團時間巡堂時發現某些社團用過於激進的言詞訓話時，我會找那些社的社長來還原事發當時的情況。但原則上，我們不會主動干涉各個社團的運作。
				</p>
				<p class="sign" style="color: black;">
					－新北市某高中社團組長，Debbie 老師
				</p>
			</div>
		</div>
	</div>
	<hr>
	<div class="center">
		<p class="description">
			在 Debbie 老師任教的學校裡，過去每年都會由畢業校友組成的團隊辦理幹部培訓營，內容包含邀請學長姐分享擔任幹部的經驗，以及請業界講師分享團隊溝通、人際相處的技巧。
		</p>
	</div>
	<div class="center">
		<div class="hover-scale tag comment" style="width: 50rem; background-color: #DFDFDF !important;">
			<div class="avatar" style="background-color: #adbdc1; ">
				<h2 class="avatar-pic">
					👨‍💻
				</h2>
			</div>
			<div style="width: 100%; height: 100%; margin: 0 !important;">
				<h2 style="font-size: x-large; padding: 5px; text-align: left; color: black; margin: 0;">
					校方在社團幹部培訓上投注的資源
				</h2>
				<p style="color: #4D4D4D !important; margin-top: 0;">
					現在這個訓練營已經沒有在運作了。但是在過去，培訓的內容其實也比較不會著重在教幹部如何領導社團，以及凝聚社團向心力。現在社團組其實也會辦一個簡單的培訓，但內容是著重在社團相關場地、活動申請流程的文書處理。
				</p>
				<p class="sign" style="color: black;">
					－新北市某高中社團組長，Debbie 老師
				</p>
			</div>
		</div>
	</div>
	<div class="center">
		<p class="description">
			從對校方的訪談結果來看，受訪學校對學長姐制的存在都採取尊重的態度，除非事態嚴重或收到申訴才會主動了解情況。而在幹部培訓上，也不會刻意教導幹部應該透過什麼樣的方式來管理社團。
		</p>
	</div>
</div>


<div class="section page" style="
	background-color: #161822;
">
	<a name="school"></a>
	<div class="text">
		<h2 style="
			color: white;
			height: 20vh;
			margin: 0 !important;
			padding-top: 3rem;
			font-size: 54px;
		">
			總結
		</h2>
	</div>
	<div class="center" style="margin-top: -3rem; margin-bottom: 1rem;">
		<span style="
			font-family: 'Quicksand', sans-serif;
			color: #768CB1;
			display: inline;
			user-select: none;
		">
			學長姐制對校園權力關係與日後個人發展的影響
		</span>
	</div>
	<div class="center">
		<p class="description" style="color: white;">
			綜合前述的訪談，我們將學長姐制的支持方與反對方的意見統整於以下段落
		</p>
	</div>
	<div class="center">
		<div class="tag comment" style="width: 50rem;">
			<!-- <div class="avatar" style="background-color: #161822; ">
				<h2 class="avatar-pic">
					🙆
				</h2>
			</div> -->
			<div style="width: 100%; height: 100%; margin: 0 !important;">
				<h2 style="font-size: x-large; padding: 5px; text-align: left; color: white; margin: 0;">
					學長姐制支持者的觀點
				</h2>
				<p style="color: #768CB1 !important; margin-top: 0;">
					支持學長姐制的受訪者大部分都身在有學長姐制的社團中，並接任社團幹部。支持學長姐制最大宗的原因及論點是此制度能有效在短時間內營造出權力階級，使必要時能更有效得下達指示、糾正錯誤時更有威嚇力。例如，剛進表演性社團的學弟妹在練習時可能表現出較不適應、服從或懶散等情況，造成訓練成效不彰，進而導致能力進步緩慢，拖延到成發進度。許多社團幹部指出，相較於沒有學長姐制的社團，有學長姐制的社團管理較為效率：維持秩序及練習品質等所花費的時間與心力較低但卻可以達到優良的效果，也因此社團表現確實相較突出。
					<br>
					<br>
					此外，大部分的社團幹部表示，本身並不認為學長姐制是唯一或最好的社團管理方式。若社團無時間壓力且秩序及練習品質無需改善，則沒有必要實施學長姐制。然而在他們的經驗中，無學長姐制的社團秩序與品質難以維持在可接受的水準，或者維持在可接受水準的成本過高，因此不得已實施學長姐制幫助社團管理。
					<br>
					<br>
					值得一提的是，在表面上高壓專權的學長姐制下，有許多受訪者表示接任幹部後能同理先前學長姐的管理方式以及各種原本無法接受的決策或規定。另外，也有不少受訪者指出學長姐制使同屆社員更有向心力，畢業後相較其他社團也有較多聯絡。
				</p>
				<!-- <p class="sign" style="color: black;">
					－新北市某高中社團組長，Debbie 老師
				</p> -->
			</div>
		</div>
	</div>
	<div class="center">
		<div class="tag comment" style="width: 50rem;">
			<!-- <div class="avatar" style="background-color: #161822; ">
				<h2 class="avatar-pic">
					🙅
				</h2>
			</div> -->
			<div style="width: 100%; height: 100%; margin: 0 !important;">
				<h2 style="font-size: x-large; padding: 5px; text-align: left; color: white; margin: 0;">
					學長姐制反對者的觀點
				</h2>
				<p style="color: #768CB1 !important; margin-top: 0;">
					反對學長姐制的受訪者大多屬於不存在學長姐制的社團。反對學長姐制最大宗的原因是他們對學長姐制的「必要性」、「公平性」及「提升社團運作效率」三點存疑。
					<br>
					<br>
					首先，針對學長姐制社團中常出現「低頭閉眼」及「要求打招呼」等情況，受訪者有以下觀點。前者被認為是建構權威的儀式性活動，許多情況下學弟妹並無做出明顯錯誤，無明確理由即進行群體訓斥。後者則是被認為僅用來滿足學長姐自身的優越感，對社團運作上並沒有實質意義。反對者表示，以上例子似乎對社團管理及營運並無直接好處，且無正當或適當實行理由。反對者即因此對學長姐制之「必要性」存疑。
					<br>
					<br>
					此外，即使部活動及制度有其必要性或有利社團管理，對於自由參加的學生社團組織，社團管理者爲了提高管理成效而施加權威壓制及其他常見手段，例如：言語威嚇、罰操體能、公然辱罵等，對於仍身為心靈尚未成熟的高一社員是否為公平待遇？反對者對此表示強烈懷疑。
					<br>
					<br>
					最後，也有部分反對者對學長姐制的「效率」提出質疑。他們表示：雖使用學長姐制能在新成員加入的階段快速建立秩序，但對社團的長遠發展沒有幫助，反而造成惡循環。
					<br>
					<br>
					兩位受訪者點出，學長姐制限制表達意見的機會，社團弊端無法被點出，永久留存，進而形成運作不效率的惡性循環。此外，學弟妹擔任幹部後，常因報復心理或高三學長姐介入社團運作而選擇延續制度，形成惡性循環。
				</p>
				<!-- <p class="sign" style="color: black;">
					－新北市某高中社團組長，Debbie 老師
				</p> -->
			</div>
		</div>
	</div>
	<hr>
	<div class="center">
		<p class="description" style="color: white;">
			針對高中時期的社團經驗，我們也進一步訪問了部分受訪者，在高中時的經歷是否有對他們未來的待人處事方式或價值觀造成影響。
		</p>
	</div>
	<div class="center">
		<p class="description" style="color: white;">
			在有學長姐制的英語會話社的受訪者 E 說道
		</p>
	</div>
	
	<div class="center">
		<div class="hover-scale tag comment" style="width: 50rem;">
			<div class="avatar" style="background-color: #161822; ">
				<h2 class="avatar-pic">
					🧑‍💼
				</h2>
			</div>
			<div style="width: 100%; height: 100%; margin: 0 !important;">
				<h2 style="font-size: x-large; padding: 5px; text-align: left; color: white; margin: 0;">
					不同制度下，對於未來個人發展的影響
				</h2>
				<p style="color: #768CB1 !important; margin-top: 0;">
					我本身就會比較注重長輩晚輩間的差距，比如見到學長姊就該尊重，但不會到太嚴重。我認為這個是在我認識學長姊制度前就已經養成的習慣，並非學長姐制造成，應該比較多是因為這地的風俗習慣而致。
				</p>
				<p class="sign" style="color: white;">
					－英語會話社受訪者，E
				</p>
			</div>
		</div>
	</div>
	<div class="center">
		<p class="description" style="color: white;">
			然而同樣在有學長姐制的情況下，身為儀隊隊長的 A 卻有不同的觀點。
		</p>
	</div>
	<div class="center">
		<div class="hover-scale tag comment" style="width: 50rem;">
			<div class="avatar" style="background-color: #161822; ">
				<h2 class="avatar-pic">
					👩‍🎓
				</h2>
			</div>
			<div style="width: 100%; height: 100%; margin: 0 !important;">
				<h2 style="font-size: x-large; padding: 5px; text-align: left; color: white; margin: 0;">
					不同制度下，對於未來個人發展的影響
				</h2>
				<p style="color: #768CB1 !important; margin-top: 0;">
					我在上了大學之後較沒辦法和不同屆的人變得很好，會有隔閡。會覺得比我小的是『學妹』，不會跟像和同屆相處一樣，就算因為辦活動變熟、變的很好，但我還是會個界線在那邊，也會因為過去儀隊的要求，而習慣對任何人都『過分禮貌』。
				</p>
				<p class="sign" style="color: white;">
					－女校儀隊前隊長，B
				</p>
			</div>
		</div>
	</div>
	<div class="center">
		<p class="description" style="color: white;">
			身為管樂社校友、現為管樂社指導老師的小鈸說。
		</p>
	</div>
	<div class="center">
		<div class="hover-scale tag comment" style="width: 50rem;">
			<div class="avatar" style="background-color: #161822;">
				<h2 class="avatar-pic">
					👨‍🏫
				</h2>
			</div>
			<div style="width: 100%; height: 100%; margin: 0 !important;">
				<h2 style="font-size: x-large; padding: 5px; text-align: left; color: white; margin: 0;">
					不同制度下，對於未來個人發展的影響
				</h2>
				<p style="color: #768CB1 !important; margin-top: 0;">
					以前的社團經驗，讓我在之後任何團體活動裡，都很討厭團隊內部出現一個不容質疑的權威存在。在高中的經驗，讓我很習慣在團體裡應該要可以自由表達意見，另外我也覺得年齡差異不應該成為獲得權威的原因。
				</p>
				<p class="sign" style="color: white;">
					－管樂社指導老師，小鈸
				</p>
			</div>
		</div>
	</div>
	<div class="center">
		<p class="description" style="color: white;">
			從訪談結果來看，高中時的經歷或多或少都為部分受訪者在人際相處上造成影響，尤其是在團隊合作方面，在無形之中都型塑了受訪者在合作模式上的價值觀。
		</p>
	</div>
	<div class="center">
		<p class="description" style="color: white;">
			綜觀本篇報導，有關學長姐制的爭議始終聚焦在實質意義和管理方式的合理性上。然而，採取何種制度並沒有標準答案，根據不同的社團性質，所需要的管理風格也會不同。真正該注意的，反而是在人際相處間「尊重」的界線，在互相尊重的前提之下，所做出的要求才能同時達到社團運作與人際互動間的平衡。
		</p>
	</div>
</div>

<div id="overlay"></div>
	
<div class="section page" style="
	background-color: white;
">
	<a name="team"></a>
	<div class="text">
		<h2 style="
			color: black;
			height: 20vh;
			margin: 0 !important;
			padding-top: 3rem;
			font-size: 54px;
		">
			團隊
		</h2>
	</div>
	<div class="tags">
		<a class="hover-scale tag shadow bg-trans hover-pointer side-margin" style="width: 20rem;"  data-modal-target="#profile1">
			<div class="center">
				<div class="pic" style="
					background-image: url('https://scontent-tpe1-1.xx.fbcdn.net/v/t39.30808-6/284489741_5838477546168743_5594769413523997641_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=BZu9Q6VQq_AAX_MGXPE&_nc_ht=scontent-tpe1-1.xx&oh=00_AT_JtG6gsjqM9YofVOxHCu4TMaPDE_eKaHv49vADwQqpTA&oe=62CF0ECC');
					height: 14rem;
					width: 14rem;
					border-radius: 50%;
				"></div>
			</div>
			<h2 class="name">
				顧寬証
			</h2>
			<div class="center col">
				<p class="block text-blue text-align no-margin text-grey">
					國立台灣大學 資訊管理學系 一年級在學生
				</p>
				<p class="block text-blue text-align no-margin text-grey">
					國立台灣大學 管樂隊 第十五屆學員
				</p>
				<p class="block text-blue text-align no-margin text-grey">
					台大資管競程系隊 共同創辦人 & PM
				</p>
				<p class="block text-blue text-align no-margin text-grey">
					資訊之芽 北區 C 語法班 實習講師
				</p>
				<p class="block text-blue text-align no-margin text-grey">
					台大資管系 B10 班級代表
				</p>
			</div>
		</a>
		<div class="modal" id="profile1">
			<div class="modal-header">
				<div class="title">
					顧寬証
				</div>
				<button data-close-button class="close-button">⚔️</button>
			</div>
			<div class="modal-body">
				<p>
					嗨你好，我是顧寬証，大家都叫我 Ruby。
					<br>
					很高興認識你，歡迎多多交流！
				</p>
				<div class="center">
					<a class="anchor" href="https://linktr.ee/ruby0322" target="_blank">
						My LinkTree
					</a>
				</div>
			</div>
		</div>
		<a class="hover-scale tag shadow bg-trans hover-pointer side-margin" style="width: 20rem;"  data-modal-target="#profile2">
			<div class="center">
				<div class="pic" style="
					background-image: url('https://media.discordapp.net/attachments/893439505988743178/995665777518710834/unknown.png');
					height: 14rem;
					width: 14rem;
					border-radius: 50%;
				"></div>
			</div>
			<h2 class="name">
				陳宥儒
			</h2>
			<div class="center col">
				<p class="block text-blue text-align no-margin text-grey">
					國立台灣大學 工商管理學系 二年級在學生
				</p>
			</div>
		</a>
		<div class="modal" id="profile2">
			<div class="modal-header">
				<div class="title">
					陳宥儒
				</div>
				<button data-close-button class="close-button">⚔️</button>
			</div>
			<div class="modal-body">
				<p>
					<!-- 我是顧寬証，大家都叫我 Ruby。
					<br>
					很高興認識你，歡迎多多交流！ -->
				</p>
				<div class="center">
					<!-- <a class="anchor" href="https://linktr.ee/ruby0322" target="_blank">
						My LinkTree
					</a> -->
				</div>
			</div>
		</div>
		<a class="hover-scale tag shadow bg-trans hover-pointer side-margin" style="width: 20rem;"  data-modal-target="#profile3">
			<div class="center">
				<div class="pic" style="
					background-image: url('https://media.discordapp.net/attachments/893439505988743178/995668229118771221/unknown.png');
					height: 14rem;
					width: 14rem;
					border-radius: 50%;
				"></div>
			</div>
			<h2 class="name">
				廖宥喬 
			</h2>
			<div class="center col">
				<p class="block text-blue text-align no-margin text-grey">
					東吳大學 企業管理學系 二年級在學生
				</p>
			</div>
		</a>
		<div class="modal" id="profile3">
			<div class="modal-header">
				<div class="title">
					廖宥喬 
				</div>
				<button data-close-button class="close-button">⚔️</button>
			</div>
			<div class="modal-body">
				<p>
					<!-- 我是顧寬証，大家都叫我 Ruby。
					<br>
					很高興認識你，歡迎多多交流！ -->
				</p>
				<div class="center">
					<!-- <a class="anchor" href="https://linktr.ee/ruby0322" target="_blank">
						My LinkTree
					</a> -->
				</div>
			</div>
		</div>
		<a class="hover-scale tag shadow bg-trans hover-pointer side-margin" style="width: 20rem;"  data-modal-target="#profile4">
			<div class="center">
				<div class="pic" style="
					background-image: url('https://scontent-tpe1-1.xx.fbcdn.net/v/t39.30808-6/280352011_2683436135133160_218822631772767344_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=KojF5C7KQtEAX8jPF7e&_nc_oc=AQmsJfkGvqyf8vR1Rap6fNSTes7KpfeENMp1MRWJnta3YUPmyaTcHCl5goSYbaUatI4&tn=m0Rhfzvovcyn3iyr&_nc_ht=scontent-tpe1-1.xx&oh=00_AT_WTgqr1lrfheNW5KoqAcw2cfoYZ7k-Bf41HknsH0kiaA&oe=62CFC162');
					height: 14rem;
					width: 14rem;
					border-radius: 50%;
				"></div>
			</div>
			<h2 class="name">
				吳仲皓
			</h2>
			<div class="center col">
				<p class="block text-blue text-align no-margin text-grey">
					國立台灣大學 財務金融學系 一年級在學生
				</p>
			</div>
		</a>
		<div class="modal" id="profile4">
			<div class="modal-header">
				<div class="title">
					吳仲皓
				</div>
				<button data-close-button class="close-button">⚔️</button>
			</div>
			<div class="modal-body">
				<p>
					<!-- 我是顧寬証，大家都叫我 Ruby。
					<br>
					很高興認識你，歡迎多多交流！ -->
				</p>
				<div class="center">
					<!-- <a class="anchor" href="https://linktr.ee/ruby0322" target="_blank">
						My LinkTree
					</a> -->
				</div>
			</div>
		</div>
		<a class="hover-scale tag shadow bg-trans hover-pointer side-margin" style="width: 20rem;"  data-modal-target="#profile5">
			<div class="center">
				<div class="pic" style="
					background-image: url('https://media.discordapp.net/attachments/893439505988743178/995669467344416798/unknown.png');
					height: 14rem;
					width: 14rem;
					border-radius: 50%;
				"></div>
			</div>
			<h2 class="name">
				陳柏勳
			</h2>
			<div class="center col">
				<p class="block text-blue text-align no-margin text-grey">
					國立政治大學 財務管理學系 一年級在學生
				</p>
			</div>
		</a>
		<div class="modal" id="profile5">
			<div class="modal-header">
				<div class="title">
					陳柏勳
				</div>
				<button data-close-button class="close-button">⚔️</button>
			</div>
			<div class="modal-body">
				<p>
					<!-- 我是顧寬証，大家都叫我 Ruby。
					<br>
					很高興認識你，歡迎多多交流！ -->
				</p>
				<div class="center">
					<!-- <a class="anchor" href="https://linktr.ee/ruby0322" target="_blank">
						My LinkTree
					</a> -->
				</div>
			</div>
		</div>
	</div>
</div>

<div class="footer-section">
	<p class="footer-text">
		國立臺灣大學 National Taiwan University
		<br>
		資訊管理學系 | 工程科學及海洋工程學系 | 物理治療學系
		<br>
		Web Design & Development: 台大資管一顧寬証
		<br>
		Copyright © Treasure Hunter 2022 
	</p>
</div>

<script src="../static/js/script.js"></script>

</body>
</html> 
