<!DOCTYPE html>
<html lang="de-CH">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Pacifico|Rubik" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<meta name="Author" content="台大資管一 顧寬証 Ruby Ku">
	<meta name="copyright" content="A Peek into High School Clubs">
	<meta name="keywords" content="學長姐制, 社團, 高中, 學長姐, 學弟妹, 校園">
	<meta name="description" content="A Peek into High School Clubs--深入探討高中學生社團中的學長姐制。當學長姐制成為管理工具，社團管理如何建構校園權力關係？">
	<link rel="icon" type="image/x-icon" href="../static/images/icon.png">
	<title>當學長姐制成為管理工具</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Manrope:wght@600&family=Poppins&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Manrope:wght@600;800&family=Poppins&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Modern+Antiqua&family=Noto+Serif+TC&display=swap" rel="stylesheet">
</head>
<body>
<div id="overlay"></div>
<div id="loading">
	<h1 style="
		margin: 0;
		font-size: 8rem;
		user-select: none;
		margin-top: 40vh;
		margin-bottom: 0vh;
		color: #768CB1 !important;
	">
	<p id="emo">
		⏳
	</p>
</h1>
<h1 style="
		margin-bottom: 1rem;
		margin-top: 2vh;
		font-family: 'Quicksand', sans-serif;
		font-size: 1.2rem;
		color: #768CB1 !important;
	">
		「低頭閉眼！」
	</h1>
</div>
<a name="top"></a>
<a href="#top"> <div class="arrow_image">⬆️</div></a>
<div id="change_class" class="flex_container section menu_section" style="display: none;">
	<div class="flex_item branding"><a href="#top"><p>🧑‍🎓</p></a></div>
	<div class="flex_item menu_item dropdown">
	</div>
</div>

<div class="section page header_section">
	<a name="top"></a>
	<div class="section_container header_section_container flex_container flex_header_container">
		<div class="text header_text" style="
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		">
			<h1 style="
				font-family: 'Poppins', sans-serif;
				margin-bottom: .5rem;
				margin-top: 3.5rem;
				color: white;
				padding-top: 7rem;
				padding-left: 1.5rem;
				padding-right: 1.5rem;
				user-select: none;
				font-size: 3rem;
				max-width: 80vw;
			">
				當
				<strong style="font-size: 3.4rem; color: #88382F;">
					學長姐制
				</strong>
				成為管理工具
			</h1>
			<div style="margin-bottom: 3.5rem;">
				<span style="
					font-family: 'Quicksand', sans-serif;
					color: #768CB1;
					display: inline;
					user-select: none;
				">
                    「學弟妹加社團！」
				</span>
			</div>
			<h1 id="emoji" style="
				margin: 0;
				font-size: 8rem;
				user-select: none;
				margin-bottom: 2.5rem;
			"
				class="button button-effect"
			>
				🧑‍🎓
			</h1>
			</div>
			<div class="flex_item">
			<h2 class="header_quote" style="
				font-family: 'Roboto', sans-serif;
				font-size: xx-large;
				color: #768CB1;
			">
				<div class="tags" style="flex-direction: row !important;">
					<a href="/home" style="cursor: pointer;" data-modal-target="#pt">
						<div class="feature flex_feature_item tag">
                            <- 回到首頁 
						</div>
					</a>
                    <a href="#" style="cursor: pointer;" data-modal-target="#pt">
						<div class="feature flex_feature_item tag">
							開始冒險 ↓
						</div>
					</a>
				</div>
			</h2>
		</div>
	</div>
</div>

<div class="page" style="background-color: white;">
    <a name="in"></a>
	<div class="text">
		<h2 style="
			color: black;
			height: 20vh;
			margin: 0 !important;
			padding-top: 3rem;
			font-size: 54px;
		">
			選社大挑戰
		</h2>
	</div>
	<div class="center" style="margin-top: -3rem; margin-bottom: 1rem;">
		<span style="
			font-family: 'Quicksand', sans-serif;
			color: #4D4D4D;
			display: inline;
			user-select: none;
		">
			「學弟妹加社團！！！」
		</span>
	</div>
</div>

<div class="footer-section">
	<p class="footer-text">
		Content Producer | All Members
		<br>
		Web Design & Development |
		<a class="anchor" target="_blank" href="https://linktr.ee/ruby0322">Ruby</a>
		<br>
		Copyright © A Peek in School Clubs
	</p>
</div>

<script src="../static/js/script.js"></script>

</body>
</html> 
