<!DOCTYPE html>
<html lang="de-CH">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Pacifico|Rubik" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<meta name="Author" content="台大資管一 顧寬証 Ruby Ku">
	<meta name="copyright" content="A Peek into High School Clubs">
	<meta name="keywords" content="學長姐制, 社團, 高中, 學長姐, 學弟妹, 校園">
	<meta name="description" content="A Peek into High School Clubs--深入探討高中學生社團中的學長姐制。當學長姐制成為管理工具，社團管理如何建構校園權力關係？">
	<link rel="icon" type="image/x-icon" href="../static/images/icon.png">
	<title>當學長姐制成為管理工具</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Manrope:wght@600&family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Manrope:wght@600;800&family=Poppins&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Modern+Antiqua&family=Noto+Serif+TC&display=swap" rel="stylesheet">
</head>
<body>
<div id="overlay"></div>
<div id="loading">
	<h1 style="
		margin: 0;
		font-size: 8rem;
		user-select: none;
		margin-top: 40vh;
		margin-bottom: 0vh;
		color: #768CB1 !important;
	">
	<p id="emo">
		⏳
	</p>
</h1>
<h1 style="
		margin-bottom: 1rem;
		margin-top: 2vh;
		font-family: 'Quicksand', sans-serif;
		font-size: 1.2rem;
		color: #768CB1 !important;
	">
		「低頭閉眼！」
	</h1>
</div>
<a href="#top"> <div class="arrow_image">⬆️</div></a>
<div class="flex_container section menu_section" style="background: none; margin-top: .5rem; margin-left: .5rem;">
	<div class="flex_item branding sprite sprite-happy" style="background-color: rgba(135,206,235, 0.5) !important;"><a href="#top"></a></div>
	</div>
</div>

<div class="section page header_section">
	<a name="top"></a>
	<div class="section_container header_section_container flex_container flex_header_container">
		<div class="text header_text" style="
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		">
			<h1 style="
				font-family: 'Poppins', sans-serif;
				margin-bottom: .5rem;
				margin-top: 14vh;
				color: white;
				padding-top: 0rem;
				padding-left: 1.5rem;
				padding-right: 1.5rem;
				user-select: none;
				font-size: 3rem;
				max-width: 80vw;
			">
                小高一
				<strong style="font-size: 3.4rem; color: #6593f5;">
					皓皓
				</strong>
                的開學日
			</h1>
			<div style="margin-bottom: 3.5rem;">
				<span style="
					font-family: 'Quicksand', sans-serif;
					color: #768CB1;
					display: inline;
					user-select: none;
				">
                    回到高中開學那天，你，會怎麼選？
				</span>
			</div>
           <div id="character-wrapper" class="center button button-effect">
                <div id="character" style="
                    width: 16rem !important;
                    height: 16rem !important;
                    margin: 0;
                    user-select: none;
                    margin-bottom: 2.5rem;
                "
                class="button-effect sprite sprite-happy"
                >
                </div>
            </div>
            <div class="tags" style="flex-direction: row !important;">
                <a href="#step0" style="cursor: pointer;">
                    <div class="feature flex_feature_item tag">
						↓ 開始遊戲 
                    </div>
                </a>
				<a href="/home" style="cursor: pointer;">
					<div class="feature flex_feature_item tag">
						跳過遊戲 -> 
					</div>
				</a>
            </div>
		</div>
	</div>
</div>

<div class="page" style=" 
    background-color: black; 
    background-image: url('https://media.discordapp.net/attachments/991012818490908752/995929172482469988/a896025ea3976537.png?width=1410&height=793'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat;
">
    <a name="step0"></a>
    <div style="height: 80vh;">
        <div style="display: none;">
            .
        </div>
    </div>
    <div class="tags">
        <a href="#step1" style="cursor: pointer;" data-modal-target="#pt">
            <div class="feature flex_feature_item tag" style="
                background-color: #f47174;
                color: black !important;
            ">
                走入校園
            </div>
        </a>
    </div>
</div>
<div class="page" style="background-color: white;">
    <a name="step1"></a>
	<div class="text">
		<h2 style="
			color: black;
			height: 20vh;
			margin: 0 !important;
			padding-top: 2rem;
			font-size: 54px;
		">
            入學第一天
		</h2>
	</div>
	<div class="center" style="margin-top: -3rem; margin-bottom: 1rem;">
		<span style="
			font-family: 'Quicksand', sans-serif;
			color: #4D4D4D;
			user-select: none;
            width: 100%;
            text-align: center;
		">
			「學弟妹加社團！！！」
		</span>
	</div>
    <div class="center">
        <p class="quote">
            在熱鬧的社團博覽會中，皓皓看著熱烈宣傳的學長姐們，心中也有股熱情被深深的感染，希望也能加入自己所心儀的社團展開多采多姿的高中生活。「學長姊制是甚麼？這種社團會很累嗎？我能變得跟學長姊一樣厲害嗎？」
            <br>
            <br>
            正在思考的皓皓無意間聽到身旁同學七嘴八舌地討論著社團的傳言。
            <br>
            疑問盤旋在皓皓心中，讓他不知如何是好。快點擊社團卡查看同學們怎麼說，幫皓皓做出選擇吧！
        </p>
    </div>
    <div class="tags">
        <a id="option-card1" class="hover-scale tag shadow bg-trans hover-pointer side-margin" style="width: 20rem; margin-top: 2rem;"  data-modal-target="#option1">
			<div class="center"">
				<div class="pic" style="
					background-image: url('https://media.discordapp.net/attachments/991012818490908752/995919756139966574/547d0cf7ae8a1223.png');
                    background-color: skyblue;
					height: 14rem;
					width: 14rem;
                    background-size: 90% !important;
                    background-repeat: no-repeat;
					border-radius: 50%;
				"></div>
			</div>
			<h2 class="name">
				話劇社
			</h2>
			<div class="center col">
				<p class="block text-blue text-align no-margin text-grey">
					實施學長姐制
				</p>
				<p class="block text-blue text-align no-margin text-grey">
					每週兩次團隊練習
				</p>
				<p class="block text-blue text-align no-margin text-grey">
					每學期三場成果發表會
				</p>
			</div>
		</a>
        <div class="modal" id="option1">
            <div class="modal-header">
                <div class="title">話劇社</div>
                <button data-close-button class="close-button">⚔️</button>
            </div>
            <div class="modal-body">
                <!-- <div class="center">
                    <div class="pic" style="
                        background-image: url('https://media.discordapp.net/attachments/991012818490908752/995927688441241640/30c18e451e6ff5e2.png');
                        width: 28rem;
                        height: 16rem;
                        background-size: contain !important;
                    ">
                    </div>
                </div> -->
                <p>
                    「社團規定好像很嚴厲，似乎一定要打招呼跟參與活動？」
                    <br>
                    <br>
                    「練習好像要花很多時間ㄟ，會不會影響到課業阿？」
                    <br>
                    <br>
                    「學長姐的感情看起來感覺很好，每個人都打鬧在一起。」
                    <br>
                    <br>
                    「每一個表演都好有吸引力，好想像他們一樣！」
                </p>
                <div class="center">
                    <a href="#step2" data-close-button onclick="chosenOption=1; updateOptions();" class="tag hover-scale hover-pointer" style="background-color: #a9c7ac; color: black !important;">
                        加入社團
                    </a>
                </div>
            </div>
        </div>
        <a id="option-card2" class="hover-scale tag shadow hover-pointer side-margin bg-trans" style="width: 20rem; margin-top: 2rem;" data-modal-target="#option2">
			<div class="center">
				<div class="pic" style="
					background-image: url('https://media.discordapp.net/attachments/991012818490908752/995922382432772207/d38edfef42e39dce.png');
                    background-color: skyblue;
					height: 14rem;
					width: 14rem;
                    background-size: 85% !important;
                    background-repeat: no-repeat;
					border-radius: 50%;
				"></div>
			</div>
			<h2 class="name">
				追劇社
			</h2>
			<div class="center col">
				<p class="block text-blue text-align no-margin text-grey">
				    不存在學長姐制
				</p>
				<p class="block text-blue text-align no-margin text-grey">
					不需花費課餘時間練習
				</p>
				<p class="block text-blue text-align no-margin text-grey">
					每週一次社課不強制參加
				</p>
			</div>
		</a>
        <div class="modal" id="option2">
            <div class="modal-header">
                <div class="title">追劇社</div>
                <button data-close-button class="close-button">⚔️</button>
            </div>
            <div class="modal-body">
                
                <p>
                    「感覺社內不太熟，招生的時候也沒那麼多學長姐出席。」
                    <br>
                    <br>
                    「聽說跟學長姊沒有甚麼隔閡，社內風氣感覺很自由！」
                    <br>
                    <br>
                    「感覺加入之後沒什麼壓力，可以好好安排自己的時間。」
                </p>
                <div data-close-button class="center">
                    <a href="#step2" onclick="chosenOption=2; updateOptions();" class="tag hover-scale hover-pointer data-close-button" style="background-color: #a9c7ac; color: black !important;">
                        加入社團
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="result" class="page" style="background-color: white; display: none;">
    <a name="step2"></a>
    <div class="text">
		<h2 style="
			color: black;
			height: 20vh;
			margin: 0 !important;
			padding-top: 3rem;
			font-size: 54px;
		">
            第一堂社課後
		</h2>
	</div>
	<div class="center" style="margin-top: -3rem; margin-bottom: 1rem;">
		<span style="
			font-family: 'Quicksand', sans-serif;
			color: #4D4D4D;
			user-select: none;
            width: 100%;
            text-align: center;
			margin-bottom: 3rem;
		">
			「怎麼跟想像中的不一樣...」
		</span>
	</div>
    <div id="result1" class="tags" style="gap: 4vw">
        <div class="tag shadow bg-trans side-margin" style="width: 15rem; margin-top: 2rem;">
			<div class="center"">
				<div class="pic" style="
					background-image: url('https://media.discordapp.net/attachments/991012818490908752/995919756139966574/547d0cf7ae8a1223.png');
                    background-color: skyblue;
					height: 14rem;
					width: 14rem;
                    background-size: 90% !important;
                    background-repeat: no-repeat;
					border-radius: 50%;
				"></div>
			</div>
			<h2 class="name">
				話劇社
			</h2>
			<div class="center col">
				<p class="block text-blue text-align no-margin text-grey">
					實施學長姐制
				</p>
				<p class="block text-blue text-align no-margin text-grey">
					每週兩次團隊練習
				</p>
				<p class="block text-blue text-align no-margin text-grey">
					每學期三場成果發表會
				</p>
			</div>
		</div>
		<div style="width: 32rem;">
            <div class="center col">
                <div class="pic" style="
                    background-image: url('https://media.discordapp.net/attachments/991012818490908752/995927688441241640/30c18e451e6ff5e2.png');
                    background-size: contain !important;
                    width: 28rem;
                    height: 18rem;
                ">
                </div>
                <p style="display: block; max-width: 70vw; width: 30rem; border-left: #4D4D4D solid 5px; padding-left: 7px; margin-top: 1rem;">
                    加入了話劇社，發現學長姊制比想像中嚴厲。
					<br>
					看到學長姐一定要打招呼，否則就會被罵。
					<br>
					每周除了社團時間，還要把空閒時間撥給成發的準備。
					<br>
					「到底在幹嘛？」、「不想練習就退社！」、「低頭閉眼！」
					<br>
					第一堂課就被學長姐嚴厲的語氣和話語給震懾了。
					<br>
					但社課時大家因為有著相同目標都積極參與，也更快熱絡起來！
                </p>
            </div>
        </div>
    </div>
    <div id="result2" class="tags" style="gap: 4vw">
        <div id="result-card2" class="tag shadow side-margin bg-trans" style="width: 15rem; margin: 2rem;">
			<div class="center">
				<div class="pic" style="
					background-image: url('https://media.discordapp.net/attachments/991012818490908752/995922382432772207/d38edfef42e39dce.png');
                    background-color: skyblue;
					height: 14rem;
					width: 14rem;
                    background-size: 85% !important;
                    background-repeat: no-repeat;
					border-radius: 50%;
				"></div>
			</div>
			<h2 class="name">
				追劇社
			</h2>
			<div class="center col">
				<p class="block text-blue text-align no-margin text-grey">
				    不存在學長姐制
				</p>
				<p class="block text-blue text-align no-margin text-grey">
					不需花費課餘時間練習
				</p>
				<p class="block text-blue text-align no-margin text-grey">
					每週一次社課不強制參加
				</p>
			</div>
		</div>
        <div style="width: 32rem;">
            <div class="center col">
                <div class="pic" style="
                    background-image: url('https://media.discordapp.net/attachments/991012818490908752/995929898088665188/0db8ceb8ec87b512.png');
                    background-size: contain !important;
                    width: 28rem;
                    height: 18rem;
                ">
                </div>
                <p style="display: block; max-width: 70vw; width: 30rem; border-left: #4D4D4D solid 5px; padding-left: 7px; margin-top: 1rem;">
                    社團內跟學長姊制的距離感不大，平時遇到學長姐也能自在的相處，也有少數對影視涉略廣泛的學長姐。
                    <br>
                    社課後不需要額外花時間，使我可以自由安排課外活動及行程。
                    <br>
                    但似乎整個社團的大家沒有那麼熱絡的接觸，平時舉辦的活動社員的參與度也不高，感覺大家接任下任幹部的意願也較低。 
                </p>
            </div>
        </div>
    </div>
	<div class="center" style="margin-bottom: 1rem; margin-top: 2rem;">
		<span style="
			font-family: 'Quicksand', sans-serif;
			color: #4D4D4D;
			user-select: none;
            width: 100%;
            text-align: center;
		">
			看看更多人怎麼說 ↓
		</span>
	</div>
	<div class="tags" style="flex-direction: row !important;">
		<a href="/home#preface" style="cursor: pointer;">
			<div class="feature flex_feature_item tag bg-white">
				查看報導
			</div>
		</a>
	</div>
</div>

<div class="footer-section">
	<p class="footer-text">
		Content Producer | All Members
		<br>
		Web Design & Development |
		<a class="anchor" target="_blank" href="https://linktr.ee/ruby0322">Ruby</a>
		<br>
		Copyright © A Peek in School Clubs
	</p>
</div>

<script src="../static/js/script.js"></script>

</body>
</html> 
